*.vsidx
/pre-project/noGL/AbsolutNoLibVC/.vs
/pre-project/noGL/AbsolutNoLibVC/x64
*.filters
*.user

.DS_Store

pre-project/Girts-sandbox/unit-tests/bin/

pre-project/Girts-sandbox/unit-tests/build/

pre-project/Girts-sandbox/unit-tests/src/main

pre-project/Girts-sandbox/unit-tests/src/main.dSYM
